
<h1><%= @cocktail.name %></h1>
<p>Add ingredients for <%= @cocktail.name %></p>

<%= render "form", dose: @dose, cocktail: @cocktail %>


<div class: back-btn > <%= link_to "back", cocktail_path(@cocktail) %> </div>
